
/***********************************首页导航***********************************/
.max_wh{
    width: 1200px;
    margin: 0 auto;
}
.back_f5{
    background-color: #f5f5f5;
}
.back_fff{
    background-color: #fff;
}
.top_nav .top_box{
    width: 100%;
    background-color: #f0f0f0;
}
.top_nav .top_box p,
.top_nav .top_box p a{
    color:#666;
    font-size: 14px;
    line-height: 36px;
}
.top_nav .top_box p a:hover{
    color:#d51716;
}
.top_nav .header{
    width: 100%;
    padding-top: 26px;
    box-sizing: border-box;
    background-color: #fff;
}
.header .header_top .logo a img{
    width: 270px;
}
.header .header_top .search{
    margin-left: 140px;
}
.header .header_top .search form>p,
.header .header_top .search form>p a{
    color:#666;
    font-size: 14px;
}
.header .header_top .search form>p a:hover{
    color:#d51716;
}
.act_a{
    color:#d51716 !important;
}
.header .header_top .search form .search_box{
    margin-top: 5px;
}
.header .header_top .search form .search_box input{
    width: 388px;
    height: 44px;
    line-height: 44px;
    padding:0 15px;
    outline: none;
    border-radius: 3px 0 0 3px;
    border:1px solid #d51716;
    box-sizing: border-box;
}
.header .header_top .search form .search_box button{
    width: 57px;
    height: 44px;
    outline: none;
    line-height: 44px;
    background-color: #d51716;
    border-radius: 0 3px 3px 0;
    border:1px solid #d51716;
}
.header .header_top .search form .search_box button img{
    width: 20px;
    margin: 0 auto;
}
.header .header_top .search form .search_box p{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    height: 44px;
    padding:0 15px;
    line-height: 44px;
    box-sizing: border-box;
}
.header .header_top .search form .search_box p img{
    width: 14px;
    height: 14px;
    margin-top: 15px;
    margin-right: 10px;
}
.header .header_top .search form .search_box p span{
    color:#999;
    font-size: 14px;
}
.telphone{
    margin-top: 24px;
}
.telphone img{
    width: 43px;
    height: 43px;
    margin-right: 10px;
}
.telphone div p:first-child{
    color:#666;
    font-size: 14px;
}
.telphone div p:first-child+p{
    color:#333;
    font-size: 24px;
    line-height: 30px;
    font-family: PingFangSC-Medium, sans-serif;
}
.header_bottom{
    margin-top: 25px;
}
.header_bottom .yuyue{
    width: 285px;
    height: 45px;
    padding:0 20px;
    cursor: pointer;
    line-height: 45px;
    box-sizing: border-box;
    background-color: #0070b7;
}
.header_bottom .yuyue p{
    color:#fff;
    font-size: 16px;
}
.header_bottom .yuyue img{
    margin-top: 20px;
}
.header_bottom ul li{
    float: left;
    margin-left: 40px;
    position: relative;
}
.header_bottom ul li>a{
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
}
.header_bottom ul li>a p{
    display: inline-block;
}
.header_bottom ul li>a p img{
    width: 14px;
    margin:16px 0 0 5px;
}
.header_bottom ul li .hide_nav{
    position: absolute;
    top:45px;
    left:-20px;
    right:0;
    z-index: 100;
    margin: 0 auto;
    background: #fff;
    width: 120px;
    padding:10px 0;
    display: none;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #e5e5e5;
}
.header_bottom ul li .hide_nav .nav_item{
    text-align: center;
    position: relative;
}
.header_bottom ul li .hide_nav .nav_item a{
    padding:5px 15px;
    text-align: center;
    position: relative;
}
.header_bottom ul li .hide_nav .nav_item a img{
    width: 14px;
    transform: rotate(-90deg);
    position: absolute;
    top:8px;
    right:10px;
}
.header_bottom ul li .hide_nav .nav_item .nav_two{
    position: absolute;
    top:-10px;
    left:120px;
    z-index: 100;
    width: 120px;
    padding:10px 0;
    background: #fff;
    display: none;
    box-shadow: 0 0 3px 1px #e5e5e5;
}
.nav_two a{
    display: block;
    padding:5px 10px;
}
.nav_two a:hover{
    color: #d51716;
}

/***********************************内页导航栏***********************************/
.header .nav_list{
    height: 45px;
    line-height: 45px;
    background: #1a85ca;
    margin-top: 26px;
}
.header .nav_list ul li{
    float: left;
    margin-right: 40px;
    margin-left: 0;
}
.header .nav_list ul li>a{
    color:#fff;
    height: 45px;
    line-height: 45px;
}
.header .nav_list ul li>a p img{
    width: 14px;
    margin:16px 0 0 5px;
}
.nav_list .header_bottom ul li .hide_nav .nav_item a{
    line-height: 1.4;
}

.online a{
    display: block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    color:#fff;
    border-radius: 15px;
    text-align: center;
    margin-top: 9px;
    border:1px solid #fff;
}
/***********************************底部导航***********************************/
.footer{
    width: 100%;
    background-color: #2a2a2a;
}
.footer .footer_top .f_logo{
    padding: 48px 0;
}
.footer .footer_top .f_box{
    padding-bottom: 70px;
}
.footer .footer_top .f_box ul{
    width: 870px;
    border-right: 1px solid #3e3e3e;
}
.footer .footer_top .f_box ul li{
    float: left;
    text-align: left;
    margin-right: 78px;
}
.footer .footer_top .f_box ul li p{
    color:#fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer .footer_top .f_box ul li a{
    color:#999;
    display: block;
    font-size: 14px;
    line-height: 30px;
}
.footer .footer_top .f_box ul li a:hover{
    color:#fff;
}
.contact_us{
    padding-left: 80px;
}
.contact_us .tel p:first-child{
    font-size: 18px;
    color:#fff;
}
.contact_us .tel p:first-child span{
    font-size: 14px;
}
.contact_us .tel p:first-child+p{
    color:#fff;
    font-size: 24px;
}
.contact_us .ewm_box{
    margin-top: 25px;
}
.contact_us .ewm_box p{
    text-align: left;
}
.contact_us .ewm_box p:first-child{
    margin-right: 30px;
}
.contact_us .ewm_box p span{
    display: inline-block;
    color:#999;
    font-size: 14px;
    line-height: 30px;
}
.footer_bot{
    color:#999;
    line-height: 76px;
    text-align: center;
    border-top: 1px solid #3e3e3e;
}
/***********************************banner***********************************/
.banner{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.banner img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
.banner .bannerInner{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.banner .bannerInner .text{
    display: table;
    width: 50%;
    height: 100%;
    font-size: 30px;
}
.banner .bannerInner .text .box{
    display: table-cell;
    vertical-align: middle;
}
.banner .bannerInner .text .box h4{
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
}
.banner .bannerInner .text .box p{
    font-size: 16px;
    line-height: 24px;
}
/***********************************内容导航***********************************/
.mainNav{
    width: 100%;
    background: #F3F3F3;
    line-height: 48px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}
.mainNav ul{
    width: 860px;
    height: 60px;
    margin: 0 auto;
}
.mainNav ul > li{
    position: relative;
    float: left;
    width: 23%;
    height: 100%;
    text-align: center;
    margin: 0 1%;
}
.mainNav ul > li a{
    display: block;
}
.mainNav ul > li > a{
    line-height: 57px;
    border-bottom: 3px solid #f3f3f3;
}
.mainNav ul > li > a.navSelect{
    background: url(../img/presentation_down.png) no-repeat 72% center;
    background-size: 15px 15px;
}
.mainNav ul > li ol{
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #f3f3f3;
    overflow: hidden;
}
.mainNav ul > li ol > li{
    border-bottom: 1px solid #e0e0e0;
}
.mainNav ul > li>a.navSelect:hover{
    background-image: url(../img/presentation_down_b.png);
}
.mainNav ul > li>a.navSelect.action{
    background-image: url(../img/presentation_down_b.png);
}
.mainNav ul > li a:hover,.mainNav ul > li a.action{
    color: #3399cc;
    border-bottom-color: #3399cc;
}
.mainNav a.action{
    color: #3399cc;
}
.mainNav.shang ul{

}
.mainNav.shang ul > li{
    width: 30%;
    margin: 0 1.5%;
}
/***********************************面包屑***********************************/
.breadcrumb{
    width: 100%;
    margin: 0 auto;
    line-height: 46px;
    color: #666;
    border-bottom: 1px solid #eee;
    margin-bottom: 90px;
}
.breadcrumb .inner{
    width: 1200px;
    margin: 0 auto;
}
.breadcrumb .inner a:hover{
    color: #1D86C7;
}
/***********************************公共title***********************************/
.main .mainTitle{
    text-align: center;
    font-size: 30px;
}
.main .mainTitle h3{
    font-weight: 400;
}
.main .mainTitle p{
    position: relative;
    font-size: 16px;
    line-height: 60px;
}
.main .mainTitle p span{
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #ccc;
    vertical-align: middle;
}
.main .mainTitle p span.lineL{
    margin-right: 20px;
}
.main .mainTitle p span.lineR{
    margin-left: 20px;
}
/***********************************主要内容区域***********************************/
.main{
    width: 100%;
}
.main .inner{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}