
/*轮播*/
#banner{
    position: relative;
}
#banner .owl-controls{
    margin: 0;
}
#banner .owl-controls .owl-pagination{
    margin: 0 auto;
    position: absolute;
    bottom:10px;
    left:0;
    right:0;
}
#banner .owl-controls .owl-page span{
    background: #fff;
    margin: 5px 3px;
}
#banner .owl-buttons{
    position: absolute;
    top:45%;
    width: 100%;
}
#banner .owl-buttons .owl-prev{
    position: absolute;
    top:45%;
    left:15%;
    opacity: 1;
    background: transparent !important;
}
#banner .owl-buttons .owl-next{
    position: absolute;
    top:45%;
    right:15%;
    opacity: 1;
    background: transparent !important;
}

/*主体*/
.main_box1 .max_wh{
    padding: 40px 0;
}
.main_box1 .ul_list li{
    width: 25%;
    float: left;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 3px;
    border:1px solid #f5f5f5;
}
.main_box1 .ul_list li img{
    margin-right: 10px;
}
.main_box1 .ul_list li div{
    margin-top: 15px;
}
.main_box1 .ul_list li div p:first-child{
    font-size: 18px;
}
.main_box1 .ul_list li div p:first-child+p{
    font-size: 14px;
}
@media only screen and (min-width: 1900px) {
    .main_box1 .ul_list li{
        padding:20px 15px;
    }
}
.title{
    color:#666;
    font-size: 16px;
    margin-bottom: 12px;
}
.title span{
    color:#333;
    font-size: 20px;
}
.hot_sub{
    margin-top: 40px;
}
.hot_sub .hot_tj .hot_box{
    width: 835px;
    height: 440px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
.hot_sub .hot_tj .hot_box .hot_lf{
    width: 371px;
}
.hot_sub .hot_tj .hot_box .hot_lf>p{
    text-align: center;
    font-size: 16px;
}
.hot_sub .hot_tj .hot_box .hot_lf>p:first-child+p a{
    height: 60px;
    line-height: 60px;
    display: block;
    border:1px solid #f3f3f3;
    margin-bottom: 25px;
}
.hot_sub .hot_tj .hot_box .hot_lf>p:first-child+p+p a{
    display: block;
    height: 70px;
    line-height: 70px;
    color:#fe6270;
    text-align: center;
    border:1px solid #ffcac9;
    background-color: #fff7f7;
}
.hot_sub .hot_tj .hot_box .hot_lf>p:first-child+p+p a>span{
    display: inline-block;
    font-size: 14px;
}
.hot_sub .hot_tj .hot_box .hot_lf>p:first-child+p+p a img{
    width: 20px;
    margin: 25px 0 0 10px;
}
.hot_sub .hot_tj .hot_box .hot_rt{
    width: 50%;
}
.hot_sub .hot_tj .hot_box .hot_rt ul li a{
    display: block;
    line-height: 34px;
}
.hot_sub .hot_tj .hot_box .hot_rt ul li a:hover{
    color:#d51716;
}
.hot_sub .hot_tj .hot_box .hot_rt ul li a span{
    display: inline-block;
}
.hot_sub .hot_tj .hot_box .hot_rt ul li a span:first-child{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 13px 8px 0 0;
    background-color: #999999;
}
.hot_sub .hot_tj .hot_box .hot_rt ul li a span:first-child+span{
    width: 80%;
}
.hot_sub .hot_tj .hot_box .hot_rt ul li a span:first-child+span+span{
    color:#666;
    font-size: 12px;
}
.hot_sub .dynamic .dynamic_box{
    width: 346px;
    height: 440px;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
}
.ul_box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.hot_sub .dynamic .dynamic_box ul{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
}
.hot_sub .dynamic .dynamic_box ul li{
    padding-bottom: 22px;
    cursor: pointer;
    box-sizing: border-box;
}
.hot_sub .dynamic .dynamic_box ul li>p span:first-child{
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    margin: 8px 8px 0 0;
    background-color: #999999;
}
.hot_sub .dynamic .dynamic_box ul li>p span:first-child+span{
    color:#333;
    font-size: 14px;
    width: 92%;
}
.hot_sub .dynamic .dynamic_box ul li .sub_details{
    width: 86%;
    margin: 5px 0 0 0;
}
.hot_sub .dynamic .dynamic_box ul li .sub_details div:first-child{
    margin-right: 10px;
}
.hot_sub .dynamic .dynamic_box ul li .sub_details div img{
    width: 121px;
    height: 71px;
}
.hot_sub .dynamic .dynamic_box ul li .sub_details div p{
    color:#999;
    font-size: 12px;
    line-height: 20px;
}
.hot_sub .dynamic .dynamic_box ul li .sub_details div p a{
    display: inline-block;
    width: 80px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color:#fff;
    font-size: 12px;
    margin-top: 5px;
    background-color: #d51716;
}
.main_box2 .pro_service{
    padding: 46px 0;
}
.main_box2 .tit_box .link_a{
    margin: 5px 0 0 60px;
}
.main_box2 .tit_box .link_a a{
    display: inline-block;
    margin: 0 15px;
}
.main_box2 .tit_box .link_a a:hover{
    color:#d51716;
    border-bottom: 1px solid #d51716;
}
.pro_service .pro_list{
    margin: 10px 0;
    padding: 25px 20px 0 20px;
    box-sizing: border-box;
    border:1px solid #f3f3f3;
}
.pro_list .pro_show p:first-child a{
    display: block;
    width: 371px;
}
.pro_list .pro_show p:first-child a img{
    width: 371px;
    height: 241px;
}
.pro_list .pro_show p:first-child a span{
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
    border:1px solid #f3f3f3;
}
.pro_list .pro_show p:first-child+p a{
    display: block;
    width: 371px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-top: 15px;
    background-color: #fff7f7;
    border:1px solid #fe6270;
}
.pro_list .pro_show p:first-child+p a span{
    display: inline-block;
    color:#fe6270;
    font-size: 14px;
}
.pro_list .pro_show p:first-child+p a span img{
    width: 20px;
    margin: 25px 0 0 10px;
}
.pro_list .list_ul{
    width: 785px;
}
.pro_list .list_ul ul{
    display: inline-block;
}
.pro_list .list_ul ul li{
    width: 246px;
    float: left;
    margin-bottom: 25px;
    margin-left: 15px;
    box-sizing: border-box;
}
.pro_list .list_ul ul li a{
    display: block;
}
.pro_list .list_ul ul li a img{
    width: 100%;
}
.pro_list .list_ul ul li a p{
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
    box-sizing: border-box;
    border:1px solid #f3f3f3;
}
.expert_team{
    margin-bottom: 30px;
}
.tit_box .more_p a{
    display: inline-block;
    width: 86px;
    height: 24px;
    color:#999999;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #999;
}
#expert_ul li{
    padding:0 1px;
    box-sizing: border-box;
}
#expert_ul li a{
    display: block;
}
#expert_ul li a:hover{
    box-shadow: 0 0 10px 1px #ccc;
}
#expert_ul li a div img{
    width: 100%;
}
#expert_ul li a .hide_tit{
    width: 100%;
    height:100%;
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.3);
}
#expert_ul li a .hide_tit p{
    position: absolute;
    bottom:10px;
    left:10px;
    width: 100%;
    /*min-height: 110px;*/
}
#expert_ul li a .hide_tit p span{
    display: block;
    text-align: left;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
}
#expert_ul li a>p{
    height: 46px;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
}
#expert_ul p span{
    color:#666;
    font-size: 14px;
    padding-left: 10px;
}
#expert_ul .owl-prev{
    position: absolute;
    top:40%;
    left: -60px;
    background:transparent;
}
#expert_ul .owl-next{
    position: absolute;
    top:40%;
    right: -60px;
    background:transparent;
}
#expert_ul .owl-buttons div img{
    width: 20px;
}
#expert_ul .owl-wrapper-outer{
    padding: 10px 0;
    box-sizing: border-box;
}
.kehu{
    padding: 45px 0;
}
.kehu .kehu_box{
    margin-top: 10px;
}
.kehu .kehu_box .kehu_show{
    width: 900px;
    display: none;
}
.kehu .kehu_box .kehu_show .kh_img{
    width: 435px;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid #f3f3f3;
    background-color: #fff;
}
.kehu .kehu_box .kehu_show .kh_txt{
    width: 465px;
    padding: 20px;
    box-sizing: border-box;
}
.kehu .kehu_box .kehu_show .kh_txt p{
    color:#666;
    font-size: 14px;
}
.kehu .kehu_box .kehu_show .kh_txt p:first-child{
    color:#333;
    font-size: 18px;
    margin-bottom: 15px;
}
.kehu .kehu_box .kehu_show .kh_txt p:first-child+p{
    min-height: 130px;
    text-indent: 2em;
}
.kehu .kehu_box .kehu_show .kh_txt p:first-child+p+p a{
    display: block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color:#fff;
    font-size: 14px;
    background-color: #d51716;
}
.kehu .kehu_box .kehu_list{
    width: 300px;
}
.kehu .kehu_box .kehu_list li{
    float: left;
    padding:0 5px;
    width: 50%;
    margin-bottom: 8px;
    box-sizing: border-box;
}
.kehu .kehu_box .kehu_list li a{
    display: block;
    padding: 4px;
    width: 140px;
    height: 92px;
    background-color: #fff;
    box-sizing: border-box;
    border:1px solid #f3f3f3;
    position: relative;
}
.kehu .kehu_box .kehu_list li a img{
    width: 100%;
    height: 100%;
}
.bg_p{
    position: absolute;
    top:2px;
    left: 0;
    right: 0;
    width: 132px;
    height: 86px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.4);
}
.kh_act .bg_p{
    display: none;
}
.main_box4{
    padding: 45px 0;
}
#pinpai li{
    padding: 10px;
    box-sizing: border-box;
}
#pinpai li a{
    display: block;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
#pinpai li a img{
    width: 100%;
}
#pinpai .owl-buttons div{
    width: 30px;
    height: 50px;
    border-radius: 0;
    box-sizing: border-box;
    position: absolute;
    top:40%;
}
#pinpai .owl-prev{
    left:-50px;
}
#pinpai .owl-next{
    right:-50px;
}
#pinpai .owl-buttons div img{
    width: 8px;
    margin: 14px auto 0 auto;
}
.main_box5{
    margin-bottom: 50px;
}
.hx_news .hx_list{
    width: 780px;
    margin-top: 10px;
}
.hx_news .hx_list .list_img{
    padding: 5px;
    width: 352px;
    box-sizing: border-box;
    border:1px solid #f3f3f3;
    background-color: #fff;
}
.hx_news .hx_list .list_img a{
    display: block;
    position: relative;
}
.hx_news .hx_list .list_img a p{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    color:#fff;
    padding: 0 15px;
    line-height: 40px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
}
.hx_news .hx_list .list_txt{
    width: 428px;
}
.hx_news .hx_list .list_txt p a{
    display: block;
    line-height: 40px;
    padding-left: 20px;
}
.hx_news .hx_list .list_txt p a:hover span{
    color:#d51716;
}
.hx_news .hx_list .list_txt p a span:first-child{
    display: inline-block;
    width: 80%;
    float: left;
}
.hx_news .hx_list .list_txt p a span:first-child+span{
    float: right;
    color:#999;
}
.hy_news ul{
    margin-top: 10px;
}
.hy_news ul li a{
    display: block;
    line-height: 35px;
}
.hy_news ul li a span:first-child{
    display: inline-block;
    width: 18px;
    height: 18px;
    color:#666;
    float: left;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 8px;
    background-color: #f3f3f3;
}
.hy_news ul li a span:first-child+span{
    width: 90%;
    float: left;
    display: inline-block;
}
.hy_news ul li a span:first-child+span:hover{
    color:#d51716;
}
.hy_news ul li:first-child a span:first-child,
.hy_news ul li:first-child+li a span:first-child,
.hy_news ul li:first-child+li+li a span:first-child{
    color:#fff;
    background-color: #d51716;
}
.menu{
    height: 60px;
    line-height: 60px;
}
.menu ul li{
    margin: 0 30px;
    float: left;
    position: relative;
}
.menu ul li a{
    width: 180px;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
}
.menu ul li a p img{
    width: 14px;
    margin: 23px 0 0 5px;
}
.menu ul li a:hover,.act_m{
    box-sizing: border-box;
    color:#1a85ca !important;
    border-bottom: 2px solid #1a85ca;
}
.hide_menu{
    position: absolute;
    top:60px;
    left:0;
    z-index: 100;
    width:180px;
    display: none;
    background: #f5f5f5;
}
.hide_menu a{
    height: 44px !important;
    line-height: 44px !important;
    border-top: 1px solid #f3f3f3;
}
.hide_menu a:hover{
    color:#1a85ca;
}
.hide_menu a:first-child{
    border-top: 0;
}
.crumb{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f3f3f3;
}
.crumb p,.crumb p a{
    color:#666;
    font-size: 14px;
}
.crumb p a:hover{
    color:#1a85ca;
}
.course_list{
    padding: 40px 0;
}
.course_list>ul li{
    float: left;
    width: 32.5%;
    margin-bottom: 20px;
    margin-right: 1.25%;
}
.course_list>ul li:nth-child(3n){
    margin-right:0;
}
.course_list>ul li>a{
    display: block;
    padding: 13px;
    box-sizing: border-box;
    border:1px solid #f3f3f3;
}
.course_list>ul li img{
    margin-bottom: 25px;
}
.course_list>ul li .course_tit{
    font-size: 16px;
    margin: 10px 0;
}
.course_list>ul li .course_con{
    color:#666;
    font-size: 14px;
    height: 38px;
}
.course_list>ul li .look_a{
    float: right;
    display: inline-block;
    width: 90px;
    height: 32px;
    color:#d51716;
    line-height: 32px;
    text-align: center;
    border:1px solid #d51716;
    border-radius: 5px;
    margin-top: 20px;
}
.pages_box{
    margin: 60px auto;
}
.pages_box ul li{
    float: left;
}
.pages_box ul li a{
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border:1px solid #f3f3f3;
    margin: 0 2px;
    color:#999;
}
.pages_box ul li a:hover,
.page_act a{
    color:#d51716 !important;
    border:1px solid #d51716 !important;
}
.course_details .details_top{
    padding: 60px 0;
}
.course_details .details_top .course_img{
    width: 52%;
}
.course_details .details_top .course_main{
    width: 40%;
    height: 405px;
    padding: 20px 0;
    position: relative;
    box-sizing: border-box;
}
.course_main p{
    margin-bottom: 10px;
}
.course_main p:first-child{
    font-size: 32px;
    margin-bottom: 20px;
}
.course_main p:first-child+p{
    color:#666;
    font-size: 18px;
    margin-bottom: 10px;
}
.course_main p:first-child+p+p{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding:0 15px;
    box-sizing: border-box;
    color:#666;
    margin-bottom: 30px;
    background-color: #f5f5f5;
}
.course_main p span{
    float: left;
    line-height: 26px;
    max-height: 60px;
    overflow: hidden;
}
.course_main p span:first-child{
    width: 70px;
    color:#0071b7;
}
.course_main p span:first-child+span{
    width: 85%;
    color:#666;
}
.course_main p:first-child+p+p+p+p{
    margin-bottom: 20px;
}
.share{
    width: 100%;
    position: absolute;
    bottom:20px;
    right:0;
}
.share .bdsharebuttonbox .fenxiang{
    margin: 5px 5px 0 0;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
    transform: scale(1.4);
    margin: 6px 10px 6px 2px !important;
}
.bdsharebuttonbox{
    margin-top: 8px;
}
.online_zx{
    display: block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#d51716;
    border:1px solid #d51716;
    border-radius: 20px;
}
.details_bottom{
    margin: 40px 0 90px 0;
}
.details_bottom .left_box{
    width: 930px;
    padding: 50px 40px;
    background-color: #fff;
    box-sizing: border-box;
}
.details_bottom .left_box .main_item p{
    margin-bottom: 20px;
    color:#666;
    font-size: 14px;
    line-height: 26px;
}
.details_bottom .left_box .main_item p:first-child{
    width: 104px;
    height: 36px;
    color:#fff;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    background-color: #1a85ca;
    border-radius: 0 18px 18px 0;
}
.right_box{
    width: 240px;
    padding: 16px;
    background-color: #fff;
    box-sizing: border-box;
}
.right_box>p{
    font-size: 18px;
}
.right_box ul li{
    margin-top: 15px;
}
.right_box ul li a{
    display: block;
}
.right_box ul li a p{
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border:1px solid #f3f3f3;
    border-top: 0;
    font-size: 14px;
}
.zhuan_jia{
    padding: 40px 0;
    box-sizing: border-box;
}
.zhuan_jia>ul li{
    float: left;
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 40px;
}
.zhuan_jia>ul li:nth-child(2n){
    margin-right: 0;
}
.zhuan_jia>ul li a{
    display: block;
    width: 100%;
    height: 382px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.zhuan_jia>ul li a .zj_img{
    width: 55%;
    height: 100%;
}
.zhuan_jia>ul li a .zj_img img{
    height: 100%;
    margin: 0 auto;
}
.zhuan_jia>ul li a .zj_info{
    width: 45%;
    height: 100%;
    padding: 40px 0 0 0;
    box-sizing: border-box;
    position: relative;
}
.zj_name{
    font-size: 30px;
    margin-bottom: 10px;
}
.name_line{
    width: 46px;
    border-bottom: 2px solid #1a85ca;
}
.zhuan_jia>ul li a .zj_info .info_txt{
    margin-top: 30px;
}
.zhuan_jia>ul li a .zj_info .info_txt p{
    font-size: 14px;
    line-height: 24px;
}
.zhuan_jia>ul li a .zj_info .look_div{
    color:#1a85ca;
    margin-top: 30px;
    position: absolute;
    bottom:60px;
    left:0;
}
.zj_details{
    padding: 70px 0;
}
.zj_details .zj_picture{
    width: 290px;
    background-color: #f5f5f5;
    padding: 16px 34px 0 34px;
    box-sizing: border-box;
}
.zj_details .details_info{
    width: 870px;
}
.zj_details .details_info .zj_name{
    margin-bottom: 20px;
}
.zj_details .details_info .zj_name p{
    margin-bottom: 10px;
}
.zj_details .zj_post{
    line-height: 26px;
}
.zj_details .zj_post span{
    display: inline-block;
}
.zj_details .details_info .zj_exp{
    margin-top: 20px;
}
.zj_details .details_info .zj_tit{
    display: inline-block;
    padding: 5px 15px;
    color:#fff;
    margin-bottom: 15px;
    background-color: #1a85ca;
}
.zj_details .details_info .zj_exp p:first-child+p{
    text-indent: 2em;
    line-height: 24px;
}
.details_item{
    margin-top: 20px;
}
.details_item p{
    line-height: 24px;
}
.kehu_box{
    padding: 20px 0;
}
.kehu_box .kh_list{
    width: 950px;
}
.kehu_box .kh_list .search_box{
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
.kehu_box .kh_list .search_box>p{
    margin-top: 5px;
}
.kehu_box .kh_list .search_box .condition{
    font-size:14px;
    margin: 0 20px 0 20px;
}
.kehu_box .kh_list .search_box .condition>p{
    margin-right: 5px;
    margin-top: 5px;
}
.kehu_box .kh_list .search_box .condition select{
    border:0;
    height: 30px;
    color:#666;
    line-height: 30px;
    text-align: center;
    outline: none;
}
.kehu_box .kh_list .search_box .condition select option{
    color:#666;
    text-align: center;
}
#date{
    height: 30px;
    line-height: 30px;
}
.kehu_box .kh_list .search_box #date input{
    color:#666;
    margin: 0 0 0 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.zong_ji{
    color:#666;
    margin-top: 5px;
}
.kehu_box .kh_list > ul li{

}
.kehu_box .kh_list > ul li a{
    display: block;
    padding: 30px 20px;
    box-sizing: border-box;
    border-bottom:1px solid #e5e5e5;
}
.kehu_box .kh_list > ul li a:hover{
    background-color: #f5f5f5;
}
.kehu_box .kh_list > ul li a>img{
    width: 360px;
    height: 240px;
}
.kehu_box .kh_list > ul li a .ku_list_main{
    width: 520px;
}
.ku_list_main .item_name{
    font-size: 18px;
    margin: 12px 0 20px 0;
}
.ku_list_main .item_txt{
    color:#666;
    font-size: 14px;
    line-height: 26px;
    text-indent: 2em;
    height: 130px;
    overflow: hidden;
}
.ku_list_main .item_bot p{
    margin-right: 30px;
    margin-top: 10px;
}
.ku_list_main .item_bot p img{
    float: left;
    margin: 2px 8px 0 0;
}
.ku_list_main .item_bot p span{
    display: inline-block;
    float: left;
    color:#666;
}
.ku_list_main .item_bot p:first-child+p+p{
    margin-right: 0;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color:#d51716;
    border-radius: 18px;
    border:1px solid #d51716;
    margin-top: 0;
}
.ku_list_main .item_bot p:first-child+p+p:hover{
    color:#fff;
    border:1px solid #d51716;
    background-color: #d51716;
}
.hot_kc{
    width: 220px;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.hot_kc>p{
    font-size: 16px;
}
.hot_kc ul li{
    margin-top: 10px;
}
.hot_kc ul li a{
    display: block;
}
.hot_kc ul li a p{
    font-size: 14px;
    padding: 10px 15px;
    box-sizing: border-box;
    border:1px solid #e5e5e5;
}
.kh_details{
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.kh_details .details_title{
    border-bottom: 1px solid #e5e5e5;
}
.kh_details .details_title .tit_h{
    font-size: 22px;
}
.kh_details .details_title div:first-child+div{
    margin: 15px 0;
}
.kh_details .details_title div p{
    margin: 0 15px;
}
.kh_details .details_title div p img{
    float: left;
    margin: 3px 8px 0 0;
}
.kh_details .details_title div p span{
    color:#666;
    font-size: 12px;
}
.kh_details_main p{
    display: block;
    color:#666;
    text-indent: 2em;
    line-height: 26px;
    margin: 20px auto 0 auto;
}
.kh_details_main p img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.hx_state{
    padding: 40px 0;
}
.hx_state .hx_left{
    width: 780px;
}
#hx_slider li a{
    display: block;
    position: relative;
}
#hx_slider li a p{
    color:#fff;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 52px;
}
#hx_slider li a p span{
    display: inline-block;
    width: 80%;
    height: 52px;
    line-height: 52px;
}
#hx_slider .owl-controls {
    margin: 0;
}
#hx_slider .owl-pagination {
    position: absolute;
    bottom:12px;
    right:20px;
}
#hx_slider .owl-controls .owl-page span{
    width: 8px;
    height: 8px;
    opacity: 1;
    background:#fff;
}
#hx_slider .owl-controls .active span{
    width: 10px;
    height: 10px;
}
#hx_slider .owl-controls .owl-buttons div{
    position: absolute;
    top:45%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 12px 0;
    opacity: 1;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}
#hx_slider .owl-controls .owl-buttons div img{
    width: 20px;
    margin: 0 auto;
}
#hx_slider .owl-controls .owl-buttons .owl-prev{
    left:15px;
}
#hx_slider .owl-controls .owl-buttons .owl-next{
    right:15px;
}
.hx_left .state_list{
    margin: 30px 0;
}
.hx_left .state_list .tab_ul {
    border-bottom: 1px solid #e5e5e5;
}
.hx_left .state_list .tab_ul li{
    float: left;
    margin-right: 30px;
}
.hx_left .state_list .tab_ul li:hover,.li_hover{
    border-bottom: 1px solid #1a85ca;
    box-sizing: border-box;
}
.hx_left .state_list .tab_ul li a{
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.hx_left .state_list .tab_list ul li{
    border-bottom: 1px solid #e5e5e5;
}
.hx_left .state_list .tab_list ul li a{
    display: block;
    padding: 28px 0;
}
.hx_left .state_list .tab_list ul li a>img{
    width: 240px;
    height: 160px;
}
.hx_left .state_list .tab_list ul li a .item_txt{
    width: 540px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.hx_left .state_list .tab_list ul li a .item_txt>p:first-child{
    margin-bottom: 10px;
    font-size: 18px;
}
.hx_left .state_list .tab_list ul li a:hover .item_txt>p:first-child{
    color:#1986c9;
}
.hx_left .state_list .tab_list ul li a .item_txt>p:first-child+p{
    color:#666;
    font-size: 14px;
    line-height: 26px;
    text-indent: 2em;
}
.hx_left .state_list .tab_list ul li a .item_txt div {
    margin-top: 30px;
}
.hx_left .state_list .tab_list ul li a .item_txt div p{
    margin-right: 30px;
}
.hx_left .state_list .tab_list ul li a .item_txt div p img{
    float: left;
    width: 12px;
    margin: 2px 5px;
}
.hx_left .state_list .tab_list ul li a .item_txt div p span{
    display: inline-block;
    float: left;
    color:#666;
    font-size: 12px;
}
.hx_left .state_list .tab_list ul li a .item_txt div p:first-child+p span{
    color:#999;
}
.loading a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#666;
    margin: 30px auto 30px auto;
    border-radius: 20px;
    border:1px solid #ccc;
}
.hx_right{
    width: 360px;
}
.hx_right .gongyi a{
    display: block;
    width: 360px;
    height: 433px;
}
.hx_right .hot_kc{
    width: 100%;
    margin-top: 30px;
}
.hx_right .hot_kc ul li{
    margin-top: 20px;
}
.hx_details .kh_details{
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    border-bottom: 1px dashed #e5e5e5;
}
.hx_details .kh_list{
    width: 780px;
}
.hx_details .kh_details .details_title .tit_h{
    font-size: 18px;
}
.hx_details_right ,.hx_details_right .gongyi,.hx_details_right .hot_kc{
    width: 360px;
}
.hx_details_right .gongyi{
    margin-top: 20px;
    margin-bottom: 30px;
}
.hx_bot{
    margin: 30px 0;
}
.hx_bot .biao_qian p{
    margin-bottom: 10px;
}

.hx_bot .biao_qian p:first-child{
    margin-bottom: 15px;
}
.hx_bot .biao_qian p a{
    color:#666;
}
.hx_bot .biao_qian p:first-child a{
    display: inline-block;
    border:1px solid #e5e5e5;
    padding: 0 5px;
    box-sizing: border-box;
    margin-left: 6px;
    color:#999;
    font-size: 14px;
}
.hx_bot .biao_qian p span{
    color:#333;
}
.biao_qian .bdsharebuttonbox .fenxiang{
    margin: 3px 10px 0 0;
}
.like_box{
    margin: 30px auto;
}
.like_box .like_tit{
    font-size: 16px;
    padding-left: 6px;
    line-height: 18px;
    border-left:2px solid #1a85ca;
}
.like_box ul{
    margin: 10px 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border:1px solid #e5e5e5;
}
.like_box ul li{
    float: left;
    width: 50%;
}
.like_box ul li span{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #999;
    margin: 12px 10px 0 0;
    float: left;
}
.like_box ul li a{
    color:#666;
    float: left;
    display: block;
    line-height: 28px;
    width: 85%;
}
.like_box ul li a:hover{
    color:#1a85ca;
}
.join_table{
    margin: 50px auto;
    border-collapse:separate;
    border-spacing:0 5px;
}
.join_table tr th,
.join_table tr td{
    text-align: center;
}
.join_table tr th{
    color:#fff;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    font-weight: normal;
    background-color: #1a85ca;
}
.join_table tr td{
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.join_table tr td:first-child+td+td+td+td{
    width: 220px;
}
.join_table tr td a{
    display: inline-block;
    width: 110px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: #e5e5e5;
}
.join_table tr td a:hover{
    color:#fff !important;
    background-color: #1a85ca;
}
.job_details{
    margin: 40px auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.job_details .job_top .job_tit p:first-child{
    font-size: 26px;
    line-height: 26px;
    padding-left: 10px;
    font-weight: normal;
    border-left: 2px solid #1a85ca;
}
.job_details .job_top .job_tit p:first-child+p{
    color:#999;
    margin-top: 3px;
}
.job_details .job_top .job_txt{
    margin-top: 30px;
    margin-left:10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.job_details .job_top .job_txt p{
    float: left;
    color:#666;
    font-size: 14px;
    margin-right: 200px;
}
.job_main{
    margin-left: 10px;
}
.job_main .main_item{
    margin-top: 40px;
    color:#666;
}
.job_main .main_item .zz_tit{
    font-size: 18px;
    margin-bottom: 20px;
}
.job_main .main_item ul li{
    line-height: 30px;
}
.open_course{
    margin: 40px auto;
}
.open_course .kecheng_date{
    width: 950px;
}
.open_course .kecheng_date .date_tit{
    display: block;
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
}
.open_course .kecheng_date .date_box{
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.mybanner{
    position: relative;
}
.banner_txt{
    position: absolute;
    top:35%;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: 0 auto;
}
.banner_txt p:first-child{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.banner_txt p:first-child+p{
    font-size: 16px;
}
.contact_box .contact_title{
    margin: 50px auto;
}
.contact_box .contact_title p{
    font-size: 32px;
}
.contact_box .contact_title p:first-child+p{
    width: 150px;
    margin: 30px auto 0 auto;
    border-bottom: 1px solid #1a85ca;
}
.contact_ways{
    margin-left: 205px;
    margin-bottom: 50px;
}
.contact_ways .ways_list{
    margin-bottom: 30px;
}
.contact_ways .ways_list p{
    font-size: 18px;
}
.contact_ways .ways_list p:first-child{
    margin-right: 125px;
}
.contact_ways .ways_list p img{
    float: left;
    margin: 3px 5px 0 0;
}
.contact_ways .ways_list p b{
    font-weight: bold;
    font-size: 20px;
}
.contact_ways .ways_list p:first-child+p+p a{
    width: 130px;
    height: 36px;
    display: block;
    color:#fff;
    font-size: 18px;
    margin-left: 20px;
    margin-top: -5px;
    border-radius: 18px;
    text-align: center;
    line-height: 36px;
    background-color: #d51716;
}
.contact_ways .bus_way{
    margin-top: 60px;
}
.contact_ways .bus_way p{
    color:#1a85ca;
}
.map_box {
    width: 100%;
    height: 500px;
}
#container1{
    width: 100%;
    height: 100%;
}







