
@font-face {
    font-family: 'YRDZSTRegular';
    src: url('YRDZSTRegular.eot');
    src: url('YRDZSTRegular.eot?#iefix') format('embedded-opentype'),  
        url('YRDZSTRegular.woff') format('woff'),
        url('YRDZSTRegular.ttf') format('truetype'),
        url('YRDZSTRegular.svg#YRDZSTRegular') format('svg');
    }
body{
    font-family: "MicroSoft Yahei";
}
/* 华星介绍 */
.main .mainCenter{
    position: relative;
    width: 1200px;
    margin: 0 auto 100px;
}
.main .mainCenter .mainBg{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -50px;
    margin-left: -446px;
}
.main .mainCenter .mainContent{
    position: relative;
    z-index: 2;
    padding-top: 90px;
    padding-bottom: 60px;
}
.main .mainCenter .mainContent .contentLeft{
    float: left;
    width: 50%;
}
.main .mainCenter .mainContent .contentLeft img{
    width: 100%;
}
.main .mainCenter .mainContent .contentRight{
    float: left;
    width: 45%;
    padding-left: 5%;
    margin-top: -85px;
}
.main .mainCenter .mainContent .contentRight .mainTitle{
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
}
.main .mainCenter .mainContent .contentRight .mainTitle h3{
    font-weight: 400;
}
.main .mainCenter .mainContent .contentRight .mainTitle p{
    font-size: 16px;
    line-height: 60px;
}
.main .mainCenter .mainContent .contentRight .rightCont{
    text-indent: 2em;
    font-size: 16px;
}
.main .mainCenter .mainContent .contentRight .rightCont h5{
    margin-bottom: 15px;
}
.main .mainCenter .mainContent .contentRight .rightCont p{
    line-height: 30px;
    margin-bottom: 15px;
}
.videoBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}
.videoBox .boxBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    background: #000 \9;
    filter:alpha(opacity=50);
}
.videoBox .videoCont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1280px;
    height: 720px;
    background: #fff;
    margin-top: -360px;
    margin-left: -640px;
}
.videoBox .videoCont #video{
    width: 100%;
    height: 100%;
}


/* 时间轴 */
.main .mainDetail .timerTitle{
    text-align: center;
    line-height: 80px;
}
.main .mainDetail .timerShaft{
    background: url(../img/timerTop.png) no-repeat center top;
}
.main .mainDetail .timerShaft .timerItem{
    overflow: hidden;
}
.main .mainDetail .timerShaft .timerItem .itemImg{
    float: left;
    width: 50%;
    padding: 50px 0 20px 0;
}
.main .mainDetail .timerShaft .timerItem .itemText{
    float: left;
    width: 49%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.main .mainDetail .timerShaft .timerItem .itemImg img{
    float: right;
    margin-right: 50px;
}
.main .mainDetail .timerShaft .timerItem .itemText .itemTitle{
    font-size: 18px;
    border-bottom: 1px solid #1D86C7;
    text-align: right;
    padding: 50px 0 20px 0;
}
.main .mainDetail .timerShaft .timerItem .itemText .itemTitle .year{
    font-weight: 700;
}
.main .mainDetail .timerShaft .timerItem .itemText .itemTitle .point{
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #1D86C7;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -2px;
}
.main .mainDetail .timerShaft .timerItem .itemText .itemContent{
    position: relative;
    font-size: 14px;
    padding: 20px 0 0 50px;
}
.main .mainDetail .timerShaft .timerItem .itemText .itemContent .timerPoint{
    position: absolute;
    top: -6.5px;
    left: -6.5px;
}
.main .mainDetail .timerShaft .timerItem .itemText .itemContent p{
    margin-bottom: 20px;
    padding-left: 20px;
    background: url(../img/point.png) no-repeat left center;
}
.main .mainDetail .timerShaft .timerItem.left .itemText{
    border-left-color: #1D86C7;
}
.main .mainDetail .timerShaft .timerItem.right .itemImg{
    float: right;
    width: 49.9%;
    border-left-color: #1D86C7;
}
.main .mainDetail .timerShaft .timerItem.right .itemImg img{
    float: left;
    margin-left: 50px;
}
.main .mainDetail .timerShaft .timerItem.right .itemText{
    float: right;
    border-right-color: #1D86C7;
    padding-left: 1px;
}
.main .mainDetail .timerShaft .timerItem.right .itemText .itemTitle{
    text-align: left;
}
.main .mainDetail .timerShaft .timerItem.right .itemText .itemContent {
    padding-left: 0px;
    padding-right: 50px;
}
.main .mainDetail .timerShaft .timerItem.right .itemText .itemContent .timerPoint{
    position: absolute;
    top: -6.5px;
    left: auto;
    right: -6.5px;
}
.main .mainDetail .timerShaft .timerItem.right .itemText .itemContent p{
    margin-bottom: 20px;
}
.main .mainDetail .timerShaft .timerItem.last{
    position: relative;
    padding-bottom: 60px;
}
.main .mainDetail .timerShaft .timerItem.last .timerLogo{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -30px;
}

/* 荣誉获奖 */
.awards{
    width: 100%;
    margin-bottom: 28px;
}
.awards .awardItem{
    position: relative;
    display: inline-block;
    border: 1px solid #f3f3f3;
    margin-bottom: 22px;
}
.awards .awardItem .hoverBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    background: #000 \9;
    filter:alpha(opacity=50);
    display: none;
}
.awards .awardItem .hoverBox a{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 118px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 500px;
    margin-left: -59px;
    margin-top: -16px;
    color: #fff;
    text-align: center;
    line-height: 38px;
}
.awards .awardItem:hover .hoverBox{
    display: block;
}
.awards .awardItem .hoverBox a:hover{
    color: #000;
    background: #fff;
}
.awards .awardItem .itemImg{
    width: 300px;
    height: 224px;
    padding: 28px 40px;
    background: #f3f3f3;
}
.awards .awardItem .itemImg img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.awards .awardItem .itemText{
    max-width: 360px;
    padding: 20px 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 奖项弹窗 */
.awardPopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.awardPopUp .popBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    background: #000 \9;
    filter:alpha(opacity=50);
}
.awardPopUp .popCont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    margin-top: -500px;
    background: #fff;
    padding-top: 85px;
    padding-bottom: 60px;
}
.awardPopUp .popCont .closePop{
    position: absolute;
    top: 0;
    right: -60px;
    width: 50px;
    height: 50px;
    background: url(../img/close.png) no-repeat center center rgba(0,0,0,.5);
    background: url(../img/close.png) no-repeat center center #000 \9;
    filter:alpha(opacity=50);
    border-radius: 50%;
    cursor: pointer;
}
.awardPopUp .popCont .popImg img{
    display: block;
    min-height: 320px;
    margin: 0 auto;
}
.awardPopUp .popCont .popTitle{
    text-align: center;
    padding: 20px 0;
}
.awardPopUp .popCont .popText{
    color: #666;
    padding: 0 60px;
    text-indent: 2em;
    line-height: 26px;
}

/* 分页条 */
.pageBar{
    width: 100%;
    text-align: center;
}
.pageBar ul{
    display: inline-block;
}
.pageBar ul li{
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    line-height: 36px;
    text-align: center;
}
.pageBar ul li a{
    display: block;
    color: #999;
}
.pageBar ul li:hover,.pageBar ul li.action{
    border-color: #D51816;
}
.pageBar ul li:hover a,.pageBar ul li.action a{
    color: #D51816;
}

/* 华星公益 */
.main .page3{
}
.main .page1 .inner .pageLeft{
    float: left;
    width: 47%;
    font-family: "YRDZSTRegular";
    line-height: 26px;
}
.main .page1 .inner .pageLeft .title{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.main .page1 .inner .pageLeft .text{
    text-indent: 2em;
    font-size: 16px;
}
.main .page1 .inner .pageLeft .preface{
    text-indent: 2em;
    font-size: 16px;
    margin-top: 40px;
}
.main .page1 .inner .pageRight{
    float: left;
    width: 53%;
}
.main .page1 .inner .pageRight img{
    display: block;
    margin: 0 auto;
}

.main .page2{
    background: #f8f8f8;
}
.main .page2 .inner .pageRight{
    float: left;
    width: 40%;
    line-height: 30px;
    padding-top: 100px;
}
.main .page2 .inner .pageRight .title{
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 40px;
    padding-left: 50px;
}
.main .page2 .inner .pageRight .text{
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "MicroSoft Yahei";
    padding-left: 50px;
}
.main .page2 .inner .pageRight .communityPoint{
    padding-left: 50px;
}
.main .page2 .inner .pageRight .text .colorRed{
    color: #b02728;
    font-weight: 700;
}
.main .page2 .inner .pageLeft{
    float: left;
    width: 60%;
}
.main .page2 .inner .pageLeft .map{
    position: relative;
}
.main .page2 .inner .pageLeft .map canvas{
    width: 709px;
    height: 602px;
}
.main .page2 .inner .pageLeft .map span{
    position: absolute;
    color: red;
    background: url(../img/mapPoint.png) no-repeat left center;
    background-size: 20px;
    padding-left: 25px;
    cursor: pointer;
}
.main .page2 .inner .pageLeft .map .sichuan{
    top: 380px;
    left: 320px;
}
.main .page2 .inner .pageLeft .map .guizhou{
    top: 440px;
    left: 390px;
}
.main .page2 .inner .pageLeft .map .xinjiang{
    top: 175px;
    left: 135px;
}
.main .page2 .inner .pageLeft .map .neimeng{
    top: 165px;
    left: 475px;
}
.main .page2 .inner .pageLeft .map .gansu{
    top: 255px;
    left: 345px;
}
.main .page2 .inner .pageLeft .map .mapPopUp{
    position: absolute;
    display: none;
}

.main .page3{
    padding-top: 50px;
}
.main .page3 .inner .pageLeft{
    float: left;
    width: 38%;
    line-height: 30px;
}
.main .page3 .inner .pageLeft .title{
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.main .page3 .inner .pageLeft .text{
    text-indent: 2em;
    font-size: 14px;
    margin-bottom: 50px;
}
.main .page3 .inner .pageLeft .link a{
    display: block;
    width: 140px;
    height: 40px;
    background: #D51717;
    border-radius: 200px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}
.main .page3 .inner .pageRight{
    float: left;
    width: 62%;
}
.main .page3 .inner .pageRight img{
    float: right;
}
.main .page3 .inner .pageRight .img5{
    margin-left: 7px;
}
.main .page3 .inner .pageRight .img3{
    margin: 7px 0;
}

/* 创始人 */
.banner .bannerInner .text .box h4.line{
    color: #1A85CB;
}
.banner .bannerInner .text .box p.bigFont{
    font-size: 20px;
}
.originator .oLeft{
    float: left;
    width: 45%;
    margin-right: 5%;
}
.originator .oLeft .title{
    font-size: 60px;
    font-weight: 700;
    font-family: "SimSun";
    color: #333;
}
.originator .oLeft .Eg{
    font-size: 26px;
    color: #1a85ca;
    padding: 10px 0;
    margin-bottom: 10px;
}
.originator .oLeft .text{
    font-size: 28px;
    margin-bottom: 100px;
    color: #333;
}
.originator .oLeft .content{
    text-indent: 2em;
    line-height: 30px;
}
.originator .oLeft .img{
    margin-top: 40px;
    text-align: right;
}
.originator .oLeft .img img{
    display: inline;
}
.originator .oRight{
    float: left;
    width: 50%;
}

/* 分院负责人 */
.principal{
    width: 100%;
    margin-bottom: 28px;
}
.principal .principalItem{
    position: relative;
    display: inline-block;
    border: 1px solid #fff;
    margin-bottom: 22px;
}
.principal .principalItem:hover{
    border-color: #ddd;
}
.principal .principalItem .itemImg{
    width: 300px;
    padding: 26px 40px 0 40px;
    background: #f3f3f3;
}
.principal .principalItem .itemImg img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.principal .principalItem .itemText{
    max-width: 360px;
    padding: 20px 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.principal .principalItem .itemText .name{
    font-size: 18px;
}

/* 分公司负责人详情 */
.breadcrumb.principalDetail{
    margin-bottom: 0;
    padding-bottom: 52px;
}
.principalDetail{
    background: #f0f0f0;
}
.detail{
    background: #fff;
    padding: 20px 30px 40px 20px;
}
.detail .detailLeft{
    float: left;
    width: 30%;
    background: #f0f0f0;
    margin-right: 5%;
}
.detail .detailLeft img{
    display: block;
    margin: 0 auto
}
.detail .detailRight{
    float: left;
    width: 65%;
    padding-top: 25px;
}
.detail .detailRight .rightHeader .name{
    font-size: 18px;
}
.detail .detailRight .rightHeader .line{
    width: 40px;
    height: 2px;
    background: #1A85CB;
    margin: 10px 0;
}
.detail .detailRight .rightHeader .tag{
    color: #333;
    font-size: 15px;
}
.detail .detailRight .rightTitle{
    display: inline-block;
    padding: 5px 10px;
    background: #1a85cb;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 5px;
}
.detail .detailRight .rightText{
    color: #333;
    line-height: 28px;
    font-size: 15px;
}

/* 分支机构 */
.breadcrumb.embranch{
    margin-bottom: 20px;
}
.embranchment{
    margin-bottom: 60px;
}
.embranchment .filter{
    background: #f8f8f8;
    padding-left: 26px;
    line-height: 38px;
    border-bottom: 1px solid #e5e5e5;
}
.embranchment .filter a{
    color: #666;
    margin: 10px;
}
.embranchment .filter a:hover,.embranchment .filter a.action{
    color: #1a85cb;
}
.embranchment .embranchmentList .item{
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.embranchment .embranchmentList .item .itemLeft{
    float: left;
    width: 40%;
}
.embranchment .embranchmentList .item .itemLeft a{
    display: inline-block;
}
.embranchment .embranchmentList .item .itemLeft img{
    display: block;
    max-width: 400px;
    max-height: 270px;
}
.embranchment .embranchmentList .item .itemRight{
    float: left;
    width: 60%;
}
.embranchment .embranchmentList .item .itemRight .title{
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.embranchment .embranchmentList .item .itemRight .text{
    color: #666;
    text-indent: 2em;
    line-height: 26px;
    padding-bottom: 20px;
}
.embranchment .embranchmentList .item .clearBoth .link{
    position: absolute;
    bottom: 0;
    right: 0;
}
.embranchment .embranchmentList .item .clearBoth .link a{
    display: block;
    width: 118px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #D51717;
    color: #D51717;
    border-radius: 200px;
}
.embranchment .embranchmentList .item .itemRight .title a:hover{
    color: #1a85cb;
}
.embranchment .embranchmentList .item .clearBoth .link a:hover{
    background: #D51717;
    color: #fff;
}
.embranchment .embranchmentList .item:hover{
    background: #F8F8F8;
}

/* 分支机构详情 */
.embranchmentDetail{
}
.embranchmentDetail .branch{
    margin-bottom: 50px;
}
.embranchmentDetail .branch .branchLeft{
    float: left;
    width: 47%;
    margin-right: 3%;
}
.embranchmentDetail .branch .branchLeft img{
    width: 100%;
}
.embranchmentDetail .branch .branchRight{
    float: left;
    width: 50%;
}
.embranchmentDetail .branch .branchRight .title{
    font-weight: 400;
    font-size: 18px;
    padding: 18px 0;
}
.embranchmentDetail .branch .branchRight .text{
    color: #666;
    text-indent: 2em;
    line-height: 28px;
}
.embranchmentDetail .team{
    position: relative;
    margin-bottom: 50px;
}
.embranchmentDetail .team .title,.embranchmentDetail .contact .title{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 36px;
    background: url(../img/embranchmentBg.png) no-repeat left center;
    padding-left: 35px;
}
.embranchmentDetail .team .title .Eg,.embranchmentDetail .contact .title .Eg{
    font-size: 13px;
    color: #666;
}
.embranchmentDetail .team .teamDetail{
    overflow:hidden;
}
.embranchmentDetail .team .teamDetail .swiper-wrapper{
    position: relative;
    width: auto;
    white-space: nowrap;
}
.embranchmentDetail .team .teamDetail .swiper-wrapper .swiper-slide{
    display: inline-block;
    width: 276px;
    margin-right: 24px;
    vertical-align: middle;
}
.embranchmentDetail .team .slideImg{
    padding-top: 10px;
    background: #f3f3f3;
}
.embranchmentDetail .team .slideImg img{
    max-width: 100%;
    height: 383px;
    display: block;
    margin: 0 auto;
}
.embranchmentDetail .team .slideText{
    padding: 20px 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.embranchmentDetail .team .slideText .name{
    font-size: 18px;
    font-weight: 700;
}
.embranchmentDetail .team .tools{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 25px;
    margin-top: -12.5px;
}
.embranchmentDetail .team .tools .prevBtn{
    position: absolute;
    left: -40px;
    top: 0;
    width: 27px;
    height: 22px;
    background: url(../img/prev.png) no-repeat center center;
    cursor: pointer;
}
.embranchmentDetail .team .tools .nextBtn{
    position: absolute;
    right: -27.5px;
    top: 0;
    width: 27px;
    height: 22px;
    background: url(../img/next.png) no-repeat center center;
    cursor: pointer;
}
.embranchmentDetail .contact{
}
.embranchmentDetail .contact .title{
    padding-left: 25px;
}
.embranchmentDetail .contact .contactDetail .contactLeft{
    float: left;
    width: 50%;
    padding-top: 80px;
}
.embranchmentDetail .contact .contactDetail .contactLeft p{
    font-size: 15px;
    line-height: 35px;
    padding-left: 50px;
}
.embranchmentDetail .contact .contactDetail .contactLeft p .bold{
    font-weight: 700;
}
.embranchmentDetail .contact .contactDetail .contactLeft p.leftTitle{
    font-size: 18px;
    background: url(../img/mapPoint.png) no-repeat 4% center;
    margin-bottom: 20px;
}
.embranchmentDetail .contact .contactDetail .contactLeft p.route{
    background: url(../img/bus.png) no-repeat 8% center;
    margin-top: 20px;
    padding-left: 80px;
    color: #1984C8;
}
.embranchmentDetail .contact .contactDetail .contactRight{
    float: left;
    width: 50%;
}

/* 商学 */
.breadcrumb.service{
    margin-bottom: 40px;
}
.businessStudies{
    margin-bottom: 60px;
}
.businessStudies .businessStudiesTitle{
    text-indent: 2em;
    line-height: 28px;
    margin-bottom: 35px;
}
.businessStudies .studiesDetail{
}
.businessStudies .studiesDetail .item{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.businessStudies .studiesDetail .item .itemImg{
    padding: 15px;
}
.businessStudies .studiesDetail .item .itemImg img{
    display: block;
    width: 100%;
}
.businessStudies .studiesDetail .item .content{
    display: block;
    padding: 0 15px;
}
.businessStudies .studiesDetail .item .content .title{
    font-size: 16px;
    line-height: 46px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.businessStudies .studiesDetail .item .content .title a:hover{
    color: #1984c8;
}
.businessStudies .studiesDetail .item .content .text{
    line-height: 26px;
    color: #888;
}
.businessStudies .studiesDetail .item .content .link{
    padding: 20px 0;
    overflow: hidden;
}
.businessStudies .studiesDetail .item .content .link a{
    float: right;
    width: 88px;
    height: 31px;
    border: 2px solid #E15B5A;
    line-height: 31px;
    text-align: center;
    color: #E15B5A;
    border-radius: 5px;
}
.businessStudies .studiesDetail .item .content .link a:hover{
    background: #E15B5A;
    color: #fff;
}